 /*image styling for header*/

 img {
  display: block;
margin-left: auto;
margin-right: auto;
width: 100%;

} 
/*basic styling*/
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  
}
h1 {
  font-size: 50px;
  margin-left: -580px;
  margin-top: -72px;
  font-family: sans-serif;


}
h3 {
  font-size: 20px;
  font-family: sans-serif;

}
h4{
  font-size:22px;
  font-family: sans-serif;

}
/* main body and navagation styling*/

.information {
  width: 40em; 
  font-size:18px;
  
}

.avatar {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content:right;
  font-size:20px;

}

  nav a {
  color: #000000;
  padding: 14px 20px;
  text-decoration: none;
 
 
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  text-align:center;
  justify-content: center;

}  

/* image and contact me link styling*/


.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: auto;
}

.card img {
  width: 80%;
  margin-bottom: 5px;
}
 
#contactme {
  text-align:center;
}
    
.media {
 
  display: flex;
  justify-content: center;

}
.resize {
  width: 50px;
  height: auto;
}


/*hover styling*/
a:hover .card {
  opacity: 0.5;
}
/*footer styling*/

footer {
  padding: 20px;
  text-align: center;
  background: #ffffff;
  color: #000000;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
}

/* Media query for larger screens */
@media (min-width: 769px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}